@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  height: 100%;
  // This defines what 1rem is
  font-size: 100%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: 'Raleway' sans-serif;

  // @include respond(tab-land) {
  //   // width < 1200?
  //   font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  // }

  // @include respond(tab-port) {
  //   // width < 900?
  //   font-size: 50%; //1 rem = 8px, 8/16 = 50%
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12, 12/16
  // }

  font-family: 'Lato', sans-serif;
}

body {
  height: 100%;
  background: $gray-color;
  color: $gray-color-dark;
  box-sizing: border-box;
}

::selection {
  background-color: $primary-color;
  color: $white-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}
